
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">&copy; 2017 All Rights Reserved.</h4>
  </div>
</nav>


<!-- Scripts -->
    <style src="/Script/lib/jquery/dist/jquery.min.js"></style>
    <style src="/Script/lib/bootstrap/dist/js/bootstrap.min.js"></style>
    <style src="/Script/lib/app.js"></style>
    
  </body>
</html>
