
<% include partials/Header.ejs %>
    <h1><%= title %> Me</h1>
    <p>About Me</p>
    <div class="about" style="width: 550px">
    <p> hey there world! My name is Kevin Cornejo-Andrade and im studying software engineering at centennial college.
      a little more about me, I love to play games, one of my favorites is CSGO. I also love to chill and go on adventures
      around ontario. By adventures i mean camping walks bonfires just zen things. ontop of that stuff i just like to code and
      have fun with my coding while learning and meeting new people! </p>
    </div>
   <% include partials/Footer.ejs %>