<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- CSS -->
    <link rel='stylesheet' href='/Script/lib/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/Script/lib/bootstrap/dist/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/Content/style.css' />
  </head>
  <body>
    <h1><%= title %> Me</h1>
    <p>About Me></p>

     <!-- Scripts -->
    <style src="/Script/lib/jquery/dist/jquery.min.js"></style>
    <style src="/Script/lib/bootstrap/dist/js/bootstrap.min.js"></style>
    <style src="/Script/lib/app.js"></style>
  </body>
</html>
