/*
FileName: app.css
Author: Kevin Cornejo-Andrade 
WebSite: https://kevinexpress.herokuapp.com/
Description: mongo and local connections 
*/ 

body {
    background-color: #808080
}
.about {
    border: 1px solid black;
    background-color: silver;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}
/*.feed {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 70px;

    width: 500px;
}*/
