/*
FileName: Contact.ejs
Author: Kevin Cornejo-Andrade 
WebSite: https://kevinexpress.herokuapp.com/
Description: contact form 
*/

<% include ../partials/Header.ejs %>

    <h1><%= title %> </h1>
    <p>How to Contact me </p>

    <div class="container">
  <h2>Contact form</h2>
  <form action="POST" method="" enctype="text/plain">
       <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="comment">Comments:</label>
      <input type="text" class="form-control" id="comment" placeholder="Leave me a comment :)">
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
</div>
 <% include ../partials/Footer.ejs %>


   